.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.option {
  display: flex;
  padding: 2px;
}
.option label {
  padding: 0 5px;
}
.checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  padding: 7px;
  border-radius: 2px;
  position: relative;
}

.checkbox:checked {
  background: #e64c5a;
}

.checkbox:checked:after {
  content: "\2713";
  font-weight: 900;
  font-size: 13px;
  position: absolute;
  top: -1px;
  left: 1px;
  color: white;
}
