@use "../../style/variables" as v;

.menu {
  padding: 0 v.$side-padding;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.button {
  @include v.semi-bold;
  font-size: 20px;
  color: v.$red;
  background-color: rgba(v.$base-light, 0.6);
  align-self: flex-end;
}

.search {
  padding: 0 60px;
}
