@font-face {
  font-family: "Montserrat Variable";
  font-weight: 100 900;
  font-style: normal;
  font-stretch: 25% 150%;
  src: url("Montserrat-VariableFont_wght.ttf") format("truetype");
  /* font-display: swap; */
}
