@use "../../style/variables" as v;

.dropdown {
  position: absolute;
  list-style: none;
  right: 0;
  display: block;
  border-radius: 4px;
  background-color: v.$base-regular;
  margin-top: 15px;

  z-index: 1;

  button {
    border: none;
    background: none;
    width: 100%;
    padding: 7px 10px;
    text-align: left;
    text-transform: uppercase;

    cursor: inherit;
    font-size: inherit;
    color: inherit;
  }
}
