/* Colours */

$red: #f65261;
$base-dark: #232323;
$base-regular: #424242;
$base-light: #555555;
$grey: #979797;
$white: #ffffff;
$black: #000000;

$side-padding: 60px;

/* Fonts */

@mixin light {
  font-weight: 300;
}

@mixin regular {
  font-weight: 400;
}

@mixin medium {
  font-weight: 500;
}

@mixin semi-bold {
  font-weight: 600;
}

@mixin bold {
  font-weight: 900;
}

/* Media Sizes */

$media-max: 1260px;
$media-mid: 960px;
$media-min: 480px;
