@use "../../style/variables" as v;

.genres {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 5px 20px;

  .selected {
    text-decoration: underline 3px v.$red;
    text-underline-offset: 21px;
  }

  div {
    span {
      cursor: pointer;
    }
  }
}
