@use "../../style/variables" as v;

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 60px;

  @media (min-width: v.$media-min) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: v.$media-mid) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: v.$media-max) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.stats {
  padding: 25px 0;
  color: v.$white;
  font-size: 20px;
  @include v.regular;

  .thick {
    @include v.semi-bold;
  }
}
